/* ===== HEADER ===== */
.hero {
  min-height: 180px;
  background-image: url("./assets/img/ies.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.hero-box {
  background: rgba(0, 0, 0, 0.55);
  padding: 12px 18px;
  border-radius: 12px;
}

/* ===== CARDS ===== */
.card.info-card {
  border-left: 6px solid var(--accent) !important;
}
.info-card .card-img-top {
  height: 160px;
  object-fit: cover; /* evita que se deforme la imagen */
}

/* ===== GALERÍA -modo carrousel ===== */
/* ===== GALERÍA COMO CARRUSEL ===== */

.gallery-container {
  border-radius: 10px;
  overflow: hidden;
}

/* Evita cortes y mejora la visualización */
.gallery-carousel-img {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
  background: #f0f0f0;
  padding: 10px;
  border-radius: 10px;
}

/* Estilo del texto sobre la imagen */
.gallery-caption {
  background: rgba(0, 0, 0, 0.6);
  padding: 4px 12px;
  border-radius: 6px;
  font-size: 1rem;
  bottom: 10px;
}

/* ===== ASIDE ===== */
.aside-box {
  background: #f8f9fa;
  padding: 1rem;
  border-radius: 8px;
}

/* ===== FOOTER ===== */
.footer {
  margin-top: 24px;
  padding: 16px;
  background: #222;
  color: #fff;
  text-align: center;
}
.footer .icons {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-bottom: 6px;
}
.footer a {
  color: #fff;
  text-decoration: none;
}
.footer a:hover {
  opacity: 0.8;
}
